<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{url_for('static', filename='fonts/neuropolitical.css')}}" rel="stylesheet">
    <!-- load the favicon.ico beakhead favicon (the thing on the left of the tab) -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/button.css')}}">
    <title>Backend Settings</title>
    <style>
        :root {
            --accent: {{accent}};
            --text: {{text}};
        }

        * {
            box-sizing: border-box;
            font-family: 'Segoe UI', serif;
        }

        body {
            margin: 0;
            padding: 2rem;
            background: #121212;
            color: #e0e0e0;
            display: flex;
            justify-content: center;
        }

        #status {
            font-size: large;
            position: fixed;
            bottom: 1rem;
            right: 2rem;
            z-index: 10;
        }

        #adminviewersw {
            border-radius: 5px;
            border: 1px solid #777;
            width: 50%;
            display: flex;
            justify-content: center;
            position: relative;
        }

        #setslider {
            width: 50%;
            height: 100%;
            left: 0%;
            border-radius: 5px;
            border: none;
            background-color: var(--accent);
            transition: left 0.15s ease;
            position: absolute;
            z-index: -999;
        }

        #adminviewersw span {
            width: 100%;
            text-align: center;
            pointer-events: all;
            cursor: pointer;
            user-select: none;
        }

        .loader-overlay {
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            align-items: center;
            justify-content: center;
        }

        .loader {
            background: #333;
            border-radius: 12px;
            padding: 20px;
            width: 50%;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        }

        .loader h2 {
            margin-top: 0;
            color: var(--text);
        }

        .loader-card-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 15px 0;
        }

        .loader-footer {
            text-align: right;
        }

        .loader-card {
            background-color: #555;
            border-radius: 10px;
            cursor: pointer;
        }

        .loader-card h3 {
            background-color: var(--accent);
            margin: 0;
            padding: 10px;
            border-radius: 10px;
        }

        .loader-card-body {
            color: var(--text);
        }

        .loader-card-footer {
            color: color-mix(in srgb, var(--text), black 40%);
        }

        .loader-card-body,
        .loader-card-footer {
            overflow: hidden;
            display: none;
            height: 0;
            opacity: 0;
            padding: 0;
            margin: 0;
            margin-left: 10px;
            transition: height 0.4s ease, opacity 0.3s ease;
        }

        .loader-card.open,
        .loader-card-body,
        .loader-card.open,
        .loader-card-footer {
            opacity: 1;
        }

        .sbutton {
            margin: 6px 12px;
        }

        select {
            margin-top: 15px;
            padding: 8px;
            width: 100%;
            border-radius: 6px;
            border: 1px solid #555;
            background: #333;
            color: #fff;
        }

        dialog {
            border: none;
            border-radius: 12px;
            padding: 20px 30px;
            width: 400px;
            max-width: 90%;
            background-color: #1e1e2f;
            color: #f0f0f0;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
            font-family: 'Segoe UI', sans-serif;
        }

        dialog h1 {
            margin-top: 0;
            font-size: 1.5rem;
        }

        dialog select,
        dialog button {
            margin-top: 15px;
            width: 100%;
            padding: 8px 12px;
            border-radius: 6px;
            border: none;
            font-size: 1rem;
        }

        dialog::backdrop {
            background-color: rgba(0, 0, 0, 0.6);
        }
    </style>
</head>

<body>
    <script src="{{url_for('static', filename='js/navigate.js')}}"></script>
    <script src="{{url_for('static', filename='js/job-status.js')}}"></script>
    <script src="{{url_for('static', filename='js/modal-confirm.js')}}"></script>
    <div class="panel">
        <h1> <img src="{{ url_for('static', filename='favicon.ico') }}"
                style="height: 5rem; transform: translateY(2rem);"> Sentinel Settings</h1>
        <label title="TBA read API key obtained from the account page">
            TBA API Key
            <input type="text" class="no-white-border" id="tbakey">
        </label>
        <label title="TBA HMAC key for webhooks">
            TBA Webhook Key
            <input type="text" id="webkey">
        </label>
        <label title="TBA Key cooresponding to the current loaded event" style="text-align: center;">
            Event Key: <h2 id="eventKey"></h2>
        </label>
        <button class="sbutton" onclick="openLoader();" style="margin: 0 auto; display: block;">Load Event</button>
        <div style="align-items: center; justify-content: center; display: flex; gap: 25%;">
            <label title="Accent color for the app (mostly for buttons)"
                style="text-align: center; display: inline-block;">
                Accent Color
                <input type="color" id="acola">
            </label>
            <label title="Text color for accented elements" style="text-align: center; display: inline-block;">
                Text color
                <input type="color" id="tcolor">
            </label>
        </div>
        <label title="Base URL for the server hosting the grafana container associated with this app">
            Grafana Url
            <input type="text" id="graf-url">
        </label>
        <label
            title="The period in minutes that specifies how often the app fetches new TBA information. It is still only fetched on a data process.">
            TBA Data fetch period (min)
            <input type="number" id="tba-period">
        </label>
        <label title="Which game to process data for">
            Scouting Year
            <select id="game-year">
                {% for year in years %}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
        </label>
        <label title="Team number without the 'frc' prefix">
            Team Number
            <input type="number" id="teamNumber" min="-1">
        </label>
        <label title="While type of moderation to use while adding data to the input csv file">
            Append Moderation Behavior
            <select id="restrict-level">
                <option value="0">None</option>
                <option value="1">Passive</option>
                <option value="2">Active</option>
            </select>
        </label>
        <label title="The maximum number of matches visible on the match prediction section of the dashboard">
            Number of preview matches to pull from predictor
            <input type="number" id="next-n">
        </label>
    </div>
    <div class="panel floating-panel">
        <h3>Set New Username and Password</h3>
        <div id="adminviewersw">
            <div id="setslider"></div>
            <span id="setadmin">Admin</span>
            <span id="setviewer">Viewer</span>
        </div>
        <label>
            Username
            <input type="text" id="new-un">
        </label>
        <label>
            <!-- Use an <input type='button'> so that the default 'button' css won't apply -->
            Password <input value="👁"
                style="background: none; border: none; text-align: center; border-radius: 5px; width: 30px; height: 30px; color: var(--text);"
                type="button"
                onclick="document.getElementById('new-pwd').setAttribute('type', document.getElementById('new-pwd').getAttribute('type') == 'text' ? 'password' : 'text')">
            <input type="password" id="new-pwd">
        </label>
        <button class="sbutton" onclick="setCred()" title="Ctrl+P">Set</button>
        <br><br>
        <button class="sbutton" onclick="confirmDialouge.confirmModal('This will <i>PERMANENTLY</i> delete all Grafana formatting changed since app deployment.', resetDash)">Reset Dashboard</button>
        <button class="sbutton" id="delete-button">Delete File</button>
        <!-- <button class="sbutton" onclick="confirmDialouge.confirmModal(`This will <i>PERMANENTLY</i> delete all input data from scouting. This is only meant to be used if data is corrupted. You should probably make a backup from the download button at the <a href='{{url_for('main')}}'>homepage</a>`, clearDatain)">Clear Data input</button>
        <button class="sbutton" onclick="confirmDialouge.confirmModal(`This will <i>PERMANENTLY</i> delete all processor data. If you have no wifi this will delete all of the cacheed TBA data.`, clearDB)">Clear Database</button> -->
    </div>
    <div class="loader-overlay" id="loaderOverlay">
        <div class="loader">
            <h2>Choose an event</h2>
            <div class="loader-card-container" id="cardContainer"></div>
            <div class="loader-footer">
                <button class="sbutton" onclick="closeLoader()">Cancel</button>
            </div>
        </div>
    </div>
    <dialog id="surprise">
            <h1>Pick a file</h1>
            <select id="cake-select">
                <!-- All of the files -->
                <option title="data_in.csv" value="data_in.csv">Data Input</option>
                <option title="output.csv" value="output.csv">Data Output</option>
                <option title="sentinel.db" value="sentinel.db">SQLite Database</option>
                <option title="pit-scouting.csv" value="output.csv-pit-scouting.csv">Pit Scouting</option>
                <option title="auton-scouting.csv" value="output.csv-auton-scouting.csv">Auton Scouting</option>
                <option title="other-metrics.json" value="other-metrics.json">Other Metrics</option>
            </select>
            <button id="send-it" class="sbutton">Delete</button>
            <button id="cancel" class="sbutton">Cancel</button>
        </dialog>
    <modal-confirm id="confirm-modal" buttonStyle="{{url_for('static', filename='css/button.css')}}"></modal-confirm>
    <div class="button-cont">
        <button class="sbutton" onclick="saveCfg()" title="Ctrl+S">Save Changes</button>
        <button class="sbutton" onclick="loadCfg()" title="Ctrl+D">Discard Changes</button>
    </div>
    <div id="status"></div>
    <div class="back-cont">
        <button class="sbutton" onclick="window.goBack();" title="Ctrl+Backspace">Back</button>
    </div>
    <job-status></job-status>
    <script>
        const tbakey = document.getElementById("tbakey");
        const webkey = document.getElementById("webkey");
        const acolor = document.getElementById("acola");
        const tcolor = document.getElementById("tcolor");
        const year = document.getElementById("game-year");
        const restrictLevel = document.getElementById("restrict-level");
        const nextN = document.getElementById("next-n");
        const statusDiv = document.getElementById("status");
        const newUN = document.getElementById("new-un");
        const newPWD = document.getElementById("new-pwd");
        const teamNum = document.getElementById("teamNumber");
        const grafUrl = document.getElementById("graf-url");
        const tbaPeriod = document.getElementById("tba-period");
        const setadmin = document.getElementById("setadmin");
        const setviewer = document.getElementById("setviewer");
        const setslider = document.getElementById("setslider");
        const loaderOverlay = document.getElementById("loaderOverlay");
        const loaderCardContainer = document.getElementById("cardContainer");
        const confirmDialouge = document.getElementById("confirm-modal");

        function fakeWaitingForGodot(dlog, confirmBtnID, closeBtnID, selectorID, isRealFile) {
            return new Promise(resolve => {
                dlog.showModal();
                dlog.addEventListener("close", function handler() {
                    dlog.removeEventListener("close", handler);
                    resolve({
                        cancelled: dlog.returnValue === "cancel",
                        file: isRealFile ? document.getElementById(selectorID).files[0] : document.getElementById(selectorID).value
                    });
                });

                document.getElementById(confirmBtnID).onclick = () => {
                    dlog.returnValue = "";
                    dlog.close();
                };
                document.getElementById(closeBtnID).onclick = () => dlog.close("cancel");
                dlog.addEventListener("cancel", () => dlog.close("cancel"), { once: true });
            })
        }

        let selectedCredSet = "admin";
        const creds = ["admin", "viewer"];

        function loaderSlideOutAnim(card) {
            card.classList.add("open");

            card.querySelectorAll('.loader-card-body, .loader-card-footer').forEach(el => {
                el.style.display = 'block';
                const height = el.scrollHeight + 'px';
                el.style.height = '0px';
                requestAnimationFrame(() => {
                    el.style.height = height;
                });
                el.addEventListener('transitionend', function handler() {
                    if (el.parentElement.classList.contains("open")) {
                        el.style.height = 'auto';
                    }
                    el.removeEventListener('transitionend', handler);
                });
            });
        }

        function loaderSlideInAnim(card) {
            card.querySelectorAll('.loader-card-body, .loader-card-footer').forEach(el => {
                const height = el.scrollHeight + 'px';
                el.style.height = height;

                requestAnimationFrame(() => {
                    el.style.height = '0px';
                });
                el.addEventListener('transitionend', function handler() {
                    if (!el.parentElement.classList.includes("open")) {
                        el.style.display = 'none';
                    }
                    el.removeEventListener('transitionend', handler);
                });
            });

            card.classList.remove('open');
        }

        async function loadEventsIntoLoader() {
            loaderCardContainer.replaceChildren();

            const events = await (await fetch("{{url_for('events_from_team')}}")).json();

            for (const event of events) {
                const newCard = document.createElement("div");
                newCard.classList.add("loader-card");
                newCard.onclick = () => loaderSelectEvent(event["key"]);
                const cardHeader = document.createElement("h3");
                cardHeader.textContent = `${event["name"]}`;
                cardHeader.addEventListener("mouseenter", () => loaderSlideOutAnim(newCard));
                newCard.addEventListener("mouseleave", () => loaderSlideInAnim(newCard));
                const cardBody = document.createElement('p');
                cardBody.classList.add("loader-card-body");
                const cardFooter = document.createElement('p');
                cardFooter.classList.add("loader-card-footer");
                cardBody.textContent = `${event["city"]} ${event["state"]} | ${event["start"]} to ${event["end"]}`;
                cardFooter.textContent = `${event["short"]} (Week ${event["week"] ?? "idk"}) | ${event["key"]}`;
                newCard.appendChild(cardHeader);
                newCard.appendChild(cardBody);
                newCard.appendChild(cardFooter);
                loaderCardContainer.appendChild(newCard);
            }
        }

        function openLoader() {
            loaderOverlay.style.display = 'flex';
            loadEventsIntoLoader();
        }

        function closeLoader() {
            loaderOverlay.style.display = 'none';
        }

        function setTitleSuffix(text) {
            document.title = `Backend Settings${(text ? " - " : "") + text}`;
        }

        const titleAnim = "▁▂▃▄▅▆▇█▇▆▅▄▃▁";
        let titleAnimCtr = 0;

        function spin() {
            setTitleSuffix(titleAnim[titleAnimCtr++ % titleAnim.length]);
        }

        function loaderSelectEvent(eventkey) {

            let loader = setInterval(spin, 100);
            
            statusDiv.innerHTML = "";
            statusDiv.style.color = "#fff";
            statusDiv.innerText = `Loading event ${eventkey}...`;
            fetch('{{url_for("load_event_data")}}', {
                method: "POST",
                headers: {
                    'event': eventkey
                }
            }).then(async res => {
                
                statusDiv.innerHTML = "";
                clearInterval(loader);
                setTitleSuffix("");
                getCurrentEvent();
                
                if (res.ok) {
                    statusDiv.style.color = "#0a0";
                    statusDiv.innerText = "Success!";
                    setTimeout(() => {
                        statusDiv.innerHTML = "";
                    }, 10000);
                } else {
                    statusDiv.style.color = "#a00";
                    statusDiv.innerText = `Error: ${await res.text()}`;
                }
            });

            closeLoader();
        }
        
        async function getCurrentEvent() {
            document.getElementById("eventKey").innerText = await (await fetch(`{{url_for('get_current_event')}}`, {
                method: "GET"
            })).text();
        }

        getCurrentEvent();

        async function tbaKeyCheckHealth() {
            const res = await fetch(`{{url_for('main')}}test-tba-key/${tbakey.value.trim()}`, {
                method: "POST",
            });

            return res.ok && await res.text() == "true"
        }

        tbakey.addEventListener("input", async e => {
            tbakey.style.borderColor = await tbaKeyCheckHealth() ? "#0a0" : "#a00";
        });

        document.getElementById("delete-button").addEventListener('click', async () => {
            const res = await fakeWaitingForGodot(document.getElementById("surprise"), "send-it", "cancel", "cake-select", false);
            if (!res.cancelled) {
                confirmDialouge.confirmModal(`This will <i>PERMANENTLY</i> delete ${res.file}. This action can not be reversed.`, async () => {
                    const r2 = fetch('{{url_for("delete_file")}}', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            "filepath": res.file,
                            "resolve": null
                        })
                    })
                });
            }
        });

        async function loadCfg() {
            const res = await fetch("{{url_for('get_app_config')}}");
            if (!res.ok) return;
            const json = await res.json();
            acolor.value = json["ACCENT_COLOR"];
            tcolor.value = json["TEXT_COLOR"];
            grafUrl.value = json["GRAFANA_URL"];
            tbaPeriod.value = parseInt(json["TBA_FETCH_PERIOD_MIN"]);
            year.value = json["YEAR"];
            teamNum.value = parseInt(json["TEAM"]);
            restrictLevel.value = json["RESTRICT_APPEND_LEVEL"];
            nextN.value = json["NEXT_N_MATCHES_NUMBER"];

            const tbares = await fetch("{{url_for('get_tba_key')}}");
            if (!tbares.ok) return;
            const tbajson = await tbares.json();
            tbakey.value = tbajson["key"];
            webkey.value = tbajson["webkey"];
            tbakey.style.borderColor = tbajson["good"] ? "#0a0" : "#a00";
        }

        async function setCred() {
            const json = {
                "un": newUN.value,
                "pwd": newPWD.value
            }

            let url = "";

            switch (selectedCredSet) {
                case "admin":
                    url = "{{url_for('set_admin_creds')}}";
                    break;
                case "viewer":
                    url = "{{url_for('set_viewer_creds')}}";
                    break;
            }

            const res = await fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(json)
            });

            if (res.ok) {
                statusDiv.style.color = "#0a0";
                statusDiv.innerHTML = "";
                statusDiv.innerText = "Set successfully";
                setTimeout(() => statusDiv.innerHTML = "", 2000);
            } else {
                statusDiv.style.color = "#a00";
                statusDiv.innerHTML = `Set Error: ${await res.text()}`;
            }
        }

        async function resetDash() {
            const res = await fetch("{{url_for('reset_dash')}}", {
                method: "POST",
            });

            if (!res.ok) {
                const rtxt = await res.text();
                statusDiv.style.color = "#a00";
                statusDiv.innerText = `Reset Dash Error: ${rtxt}`;
            } else {
                statusDiv.style.color = "#0a0";
                statusDiv.innerText = "Success";
                setTimeout(() => statusDiv.innerHTML = "", 2000);
            }
        }

        async function clearDatain() {
            const res = await fetch("{{url_for('clear_datain')}}", {
                method: "POST"
            });

            if (!res.ok) {
                const rtxt = await res.text();
                statusDiv.style.color = "#a00";
                statusDiv.innerText = `Clear data in error: ${rtxt}`;
            } else {
                statusDiv.style.color = "#0a0";
                statusDiv.innerText = "Success";
                setTimeout(() => statusDiv.innerHTML = "", 2000);
            }
        }

        async function clearDB() {
            const res = await fetch("{{url_for('clear_db')}}", {
                method: "POST"
            });
            if (!res.ok) {
                const rtxt = await res.text();
                statusDiv.style.color = "#a00";
                statusDiv.innerText = `Clear database error: ${rtxt}`;
            } else {
                statusDiv.style.color = "#0a0";
                statusDiv.innerText = "Success";
                setTimeout(() => statusDiv.innerHTML = "", 2000);
            }
        }

        async function saveCfg() {
            let loader = setInterval(spin, 100);
            statusDiv.style.color = "#aaa";
            statusDiv.innerText = "Setting TBA key...";
            const tbares = await fetch("{{url_for('set_tba_key')}}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ key: tbakey.value })
            });

            
            if (!tbares.ok) {
                const rtxt = await tbares.text();
                if (rtxt === "Bad TBA key") {
                    tbakey.style.borderColor = "#a00";
                    return;
                } else {
                    statusDiv.style.color = "#a00";
                    statusDiv.innerHTML = `Update TBA Key Error: ${rtxt}`;
                }
                return;
            } else {
                tbakey.style.borderColor = "#0a0";
            }
            
            statusDiv.innerText = "Setting Webhook key...";
            const webres = await fetch("{{url_for('set_tba_whook_key')}}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ key: webkey.value })
            });
            
            if (!webres.ok) {
                const rtext = await webres.text();
                statusDiv.style.color = "#a00";
                statusDiv.innerHTML = `Update webhook key: ${rtext}`;
            }

            const json = {
                "ACCENT_COLOR": acolor.value,
                "TEXT_COLOR": tcolor.value,
                "GRAFANA_URL": grafUrl.value,
                "TBA_FETCH_PERIOD_MIN": parseInt(tbaPeriod.value),
                "YEAR": year.value,
                "TEAM": teamNum.value.toString(),
                "RESTRICT_APPEND_LEVEL": parseInt(restrictLevel.value),
                "NEXT_N_MATCHES_NUMBER": parseInt(nextN.value),
            };

            document.documentElement.style.setProperty("--accent", acolor.value);
            document.documentElement.style.setProperty("--text", tcolor.value);

            statusDiv.style.color = "#aaa";
            statusDiv.innerText = "Applying settings...";

            const res = await fetch('{{url_for("save_app_config")}}', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(json)
            });

            clearInterval(loader);
            setTitleSuffix("");

            if (res.ok) {
                statusDiv.style.color = "#0a0";
                statusDiv.innerHTML = "";
                statusDiv.innerText = "Save Successful.";
                setTimeout(() => statusDiv.innerHTML = "", 2000); // clear text after 2 seconds
            } else {
                statusDiv.style.color = "#a00";
                statusDiv.innerHTML = `Save Error: ${await res.text()}`;
            }
        }

        setadmin.addEventListener("click", () => {
            selectedCredSet = "admin";
            updateSelectedCred();
        });

        setviewer.addEventListener("click", () => {
            selectedCredSet = "viewer";
            updateSelectedCred();
        });

        function updateSelectedCred() {
            if (creds.includes(selectedCredSet)) {
                switch (selectedCredSet) {
                    case "admin":
                        setslider.style.left = "0%";
                        break;
                    case "viewer":
                        setslider.style.left = "50%";
                        break;
                }
            }
        }

        updateSelectedCred();

        window.addEventListener("keydown", ev => {
            if ((ev.ctrlKey || ev.metaKey) && ev.key === "s") { // override Ctrl+S to save
                ev.preventDefault(); // stop Ctrl+S from doing what it normally does
                saveCfg();
            } else if ((ev.ctrlKey || ev.metaKey) && ev.key === "d") {
                ev.preventDefault();
                loadCfg();
            } else if ((ev.ctrlKey || ev.metaKey) && ev.key === "p") {
                ev.preventDefault();
                setCred();
            } else if ((ev.ctrlKey || ev.metaKey) && ev.key === "Backspace" && document.activeElement.tagName.toLowerCase() !== "input") {
                ev.preventDefault();
                window.goBack();
            }
        });

        loadCfg();

    </script>
    <script src="{{url_for('static', filename='js/register-sw.js')}}"
        onload="registerServiceWorker('/service_worker.js')"></script>
</body>

</html>