/* https://fonts.cdnfonts.com/css/neuropolitical */

@font-face {
    font-family: 'Neuropolitical';
    font-style: normal;
    font-weight: 400;
    src: url("neuropolitical.woff") format('woff');
}